body {
  background: #cccccc;overflow-x: hidden;
}

.navbar {
  height: 80px;
  color: #212529;
  background: #212529;
  opacity: 0.77;
}

.navbar-brand {
  color: rgb(238,242,245);
  font-weight: bold;
}

.navbar-toggler {
  border-color: rgb(238,242,245);
}

.navbar-toggler-icon {
  color: rgb(238,242,245);
}

.hero-content {
  max-width: 600px;
  margin: auto;
}

.hero-message h1 , .hero-message p {
  text-shadow: 5px 5px 4px; font-weight: bold;
  font-weight: bold;
}

.btn-hero {
  text-align: center;
  background: #212529;
}

.row {
  /*min-height: 50vh;*/
  margin-bottom: 0px;
}

.hero-image {
  background-image: url(/assets/img/gabu_grey.png);
  background-repeat: no-repeat;
  background-color:#cdcaca;
  background-size: cover, auto;
}



@media (max-width: 768px) {
  .navbar-nav {
    background-color: black;
    margin-right: auto;
    display: inline-block;
  }

}

@media (min-width: 1200px) {
  .hero-message h1 {
    font-size: 78px;
  }
}

@media (max-width: 1190px) {
  .hero-message h1 {
    font-size: 49px;
  }
}

@media (max-width: 576px) {
  .hero-image {
    height: 60vh;
  }
}

@media (min-width: 576px) {
  .hero-image {
    min-height: 100vh;
  }
}


.nav-item {
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 5px;

}

.about-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(33, 37, 41);
  background: black;
}

.about-text p {
  text-align: center;
  color: #cdcaca;
  text-transform: uppercase;
  font-size: 21px;
  padding: 1rem;
  line-height: 1.8;
  font-weight: bold;
  animation: fadeIn 1.5s ease-out;
  text-shadow: 5px 5px 18px;
}

.about-text .btn {
  text-align: center;
  background: #212529;
  width: 50%;
  margin: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}


.about-image {
  background: url(/assets/img/about-image2.png) center / cover no-repeat black;
  color: black;
  height: 100vh;
}

.div-text-center {
  justify-content: center;
  align-items: center;
  height: 10vh; 
  background-color:black;
  text-align: center;
  padding: 0px;
}

.div-text-center h1, .div-text-center p {
  font-weight: bold;
  color: #cdcaca;
  text-align: center;
}

.card {
  border-radius: 10px;
  border: none;
  height: 100%;
  /*padding: 20px;*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%; height: 60%;
  border-radius: 8px;
  text-align: center;
}

.btn-project {
  width: 50%;
  background-color: #cdcaca;
  color: #212529;
  border: 2px solid #212529;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-project:hover {
  background-color: #212529;
  color: #cdcaca;
  transform: scale(1.1);
}


.btn-xl.btn-about:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.nav-item a:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px #0d6efd, 0 0 10px #0d6efd, 0 0 20px #0d6efd;
}

.verify-badge {
  padding: 20px;
  color: #cdcaca;
}

.verify-badge {
  padding: 20px;
  color: #cdcaca;
  text-decoration: none;
}

.cert-card img {
  height: 50%;
  width: 50%;
  object-position: center;
  object-fit: contain;
}

.cert-card {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.verify-badge:hover {
  text-decoration: underline;
  transform: translateX(2px);
}

.text-center {
  margin: 16px 0px 16px;
}

.text-center {
  color: #cdcaca;
}

/* portfolio */
.nav-proj-btns {
  background-color: black;
  height: 10vh;
  margin: 0px; padding: 0px;
}

.subsections {
  display: flex;
  background-color: black;
}

.subsection {
  margin: 20px 0px 20px;
  display: flex;
  flex-direction: column;
  background-color: #cdcaca;
  border-radius: 31rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; */
  overflow: hidden;
  align-items: center;
}


.subsection h1 {
  font-size: 40px;
  font-weight: bold;
}

.subsection p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 1.8rem;
}

.subsection:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-hero-img {
  background: url(/assets/img/image-contact1.png) center / cover no-repeat;

}

.contact-msg {
  height: fit-content;
  font-size: 34px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: black;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
