.about-text {
}

.cert-card img {
  height: 50%;
  width: 50%;
  object-position: center;
  object-fit: contain;
}

.cert-card {
}

.verify-badge:hover {
  text-decoration: underline;
  transform: translateX(2px);
}

.subsections {
  display: flex;
  flex-wrap: wrap;
  /*gap: 1rem;*/
  /*height: 90vh;*/
  margin: 1rem;
}

.subsection {
  /*position: relative;*/
  background-color: #cdcaca;
  padding: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.subsection:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.subsection:nth-child(odd) {
  /*margin-top: 12rem;*/
}

.subsection:nth-child(even) {
  /*margin-top: 6rem;*/
}

